*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.kotlin/errors
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets/dummy.csv
/app/src/main/assets/real.csv
/app/src/main/assets/sentence_encoder.tflite
/app/src/main/assets/vocab.txt
